* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Style the top navigation bar */
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
  min-height: 8vh;
  background-color: #3a0041;
  z-index: 100000;
}

.logo {
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.logo img{
  width: 60%;
  position: flex;
  min-height: 2vh;
  margin-left: 15px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.nav-links a{
  position: relative;
  color: #f2f2f2;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 16px;
  opacity: 1;
}

.nav-links a::before{
  content: '';
  display: block;
  height: 3px;
  background: #f2f2f2;
  position: absolute;
  top: 3vh;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transition: transform ease-in-out 300ms;
}

.nav-links a:hover::before{
  transform: scale(1, 1);
}

.nav-links li{
  list-style: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #f2f2f2;
    margin: 5px;
    transition: all 0.3s ease;
}

/* ipad */
@media screen and (max-width: 1024px) {
  .nav-links {
      width: 140%;
  }
  .nav-links a{
    color: #f2f2f2;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
  }
}

/* iphone */
@media screen and (max-width: 768px) {
  body {
      overflow-x: hidden;
      font-size: 14px;
  }
  
  .nav-links {
      position: fixed;
      right: 0px;
      height: 82vh;
      top: 8vh;
      background-color: #3a0041;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
  }
  
  .nav-links li {
      opacity: 0;
  }
  
  .burger {
      display: block;
      cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes transitionIN{
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }
  to {
      opacity: 1;
      transform: rotateX(0);
  }
}


/* Style the footer */
div.footer {
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
  animation: transitionIN 0.75s;
}

/* quotes */
div.quotations {
  text-align: center;
  border: 3px solid gray;
  padding: 14px 16px;
  border-radius: 20px;
  animation: transitionIN 0.75s;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  color: #4d4d4d;
  }

/* Add a blue color to the author */
div.author {
  color: #00004d;
  }

/* desktop / ipad */
@media screen and (min-width: 768px) {
  /* Style image */
  .img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
    width: auto;
    height: auto;
    max-width: 25%;
    padding: 14px 12px;
  }
  
  /* Style image */
  .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    width: auto;
    height: auto;
    max-width: 60%;
    padding: 14px 0px;
  }
  
  /* Style image */
  .img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    width: auto;
    height: auto;
    max-width: 25%;
    padding: 14px 0px;
  }
  
  .imgthumbnails {
    padding: 5px;
    width: auto;
    max-width: 50%;
    box-shadow: 0px 0px 1px 1px rgba(58, 0, 65, 0.5);
  }

  /* Style the content */
  .content {
    background-color: #ffffff;
    padding: 80px 85px;
    animation: transitionIN 0.75s;
  }
  /* Style heading */
  h1 {
      text-align: center;
      color: ##3a0041;
      padding: 14px 16px;
  }
  /* Style the blogs */
  div.blogs {
    background-color: #ffffff;
    padding: 80px 85px;
    text-align: justify;
    text-justify: inter-word;
    animation: transitionIN 0.75s;
  }
  
  .blogs h3 {
      color: #3a0041;
      padding: 14px;
      margin-bottom: -25px;
      text-align: left;
  }
}

/* desktop / ipad */
@media screen and (max-width: 768px) {
  
  /* Style image */
  .img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30%;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 14px 12px;
  }
  
  /* Style image */
  .img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 14px 0px;
  }
  
  /* Style image */
  .img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0%;
    width: auto;
    height: auto;
    max-width: 100%;
    padding: 14px 0px;
  }
  .imgthumbnails {
    padding: 5px;
    width: auto;
    max-width: 100%;
    box-shadow: 0px 0px 1px 1px rgba(58, 0, 65, 0.5);
  }
  /* Style the content */
  .content {
    background-color: #ffffff;
    padding: 15px;
    animation: transitionIN 0.75s;
  }
  /* Style heading */
  h1 {
      text-align: center;
      color: #3a0041;
      padding-top: 80px;
  }
  /* Style the blogs */
  div.blogs {
    background-color: #ffffff;
    padding: 15px;
    text-align: justify;
    text-justify: inter-word;
    animation: transitionIN 0.75s;
  }
  
  .blogs h3 {
      color: #3a0041;
      margin-bottom: -25px;
      text-align: left;
  }
}

.imgthumbnails:hover {
  box-shadow: 0px 0px 5px 5px rgba(58, 0, 65, 0.5);
}

.imgthumbnails:active {
  box-shadow: 0px 0px 5px 5px rgba(58, 0, 65, 0.5);
}

.center {
  padding: 100px;
  text-align: center;
  column-count: 2;
  animation: transitionIN 0.75s;
}

/* row */
div.row::after{
    content: "";
    clear: both;
    display: table;
}

div.column{
    float: left;
    width: 50%;
    padding:2px;
}


h2 {
    display: block;
    color: #3a0041;
    background-color: #3a00414D;
    padding: 14px 16px;
    text-align: left;
}

h3 {
    color: #3a0041;
    text-align: left;
    padding: 14px;
    margin-bottom: -25px;
}


li{
  color: #4d4d4d;
  list-style-position: outside;
}

P, ul{
  color: #4d4d4d;
  padding: 14px 16px;
}

div.centered{
  margin: auto;
  width: 50%;
  animation: transitionIN 0.75s;
  padding: 14px 16px;
}

.centered a {
  padding: 14px 16px;
  text-decoration: none;  
  color: #3a0041;
  background-color: #3a00414D;
  text-align: center;
  display: block;
  float: center;
}

.centered a:hover {
  background-color: #ffffff;
  color: #3a0041;
}

.centered a.active {
  background-color: #ffffff;
  color: #3a0041;
}
